
<h3 id="videoconferencing">Videoconferencing Client (Zoom)</h3>

<p>
  Remember to log on to the workshop Zoom meeting through the Zoom for Students link in the navigation bar of the D2L course homepage.
The Zoom password for all KEYS related meetings this summer will be KEYS2021.
</p>


<h4>Set up your workspace</h4>

<p>
  Like any excellent workshop, you will be learning by "coding along" with the instructors.
  To do this, you will need to have both, the window for the tool
  you will be learning about (a terminal, RStudio, your web browser, etc..)
  and the window for the Zoom video conference client open. And sometimes maybe even a third or fourth window.
  In order to keep track of what's going on in each, we recommend using one of the following set up options (if you have a choice, try them out in advance to decide what will work best for you.):
  <ul>
    <li><strong>One device, one monitor:</strong> If you only have one device
      and one screen, practice having two or more windows open together
      (preferably two or more separate windows as opposed to two or more tabs in the same (browser) window; e.g. the instructor on Zoom in one window and the tool you will be using in a different window).
      <u>How</u> can you best fit both on your screen? Will it work better for you to arrange them side-by-side? Or to toggle between them using a keyboard shortcut? Such as Alt + Tab, Alt + Esc, or the Windows key + Tab on PCs? Or Command + Tab on Macs? Toggling will probably be your choice if you work with a relatively small monitor.)</li>
    <li><strong>One device, two monitors:</strong> If you have two monitors,
      plan to have Zoom on one monitor and the tool you are using on the other.</li>
    <li><strong>Two devices:</strong> If you don't have two monitors,
      do you have another device (tablet, smartphone) with a medium to large
      sized screen? If so, try using the smaller device for your Zoom connection and your larger device (laptop or desktop)
      to follow along with the tool you will be learning about.</li>
  </ul>
  This <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> includes detailed suggestions on how to set up your screen to follow along during the workshop.
</p>
